<div class="container-lg">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgb(18, 29, 51);">
    <div class="container p-0">
      <a class="navbar-brand" href="/wallet">
        <img src="images/fox_icon.png" class="rounded-circle" width="40" height="40" alt="foxicon">
        &nbsp;&nbsp;<strong class="text-white">FOX</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center" style="flex: 1">
          <li class="nav-item mx-2">
            <a class="nav-link pb-0 px-1" href="/wallet" style="border-bottom: 2px solid #8c7ae6; border-radius: 5px;">
              <h6 style="font-size: 1em; color: #eee"><strong>Wallet</strong></h6> <span
                class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link px-1" href="/explorer">
              <h6 style="color: #999; font-size: 1em;"><strong>Explorer</strong></h6>
            </a>
          </li>
        </ul>
        <a href="/users/signout" class="text-left sidebar-button d-flex align-items-center px-3" role="button">
          <i class="fas fa-sign-out-alt" style="font-size: 16px;"></i>
          &nbsp;&nbsp;<strong>Sign out</strong>
        </a>
      </div>
    </div>
  </nav>

  <main>
    <div class="row" style="height: 100vh;">

      <div class="col-sm-12">
        <div class="row d-flex" style="margin-top: 120px;">
          <div class="d-flex p-4 mr-3 rounded-lg info shadow-sm" style="color: #eee; background-color: #8c7ae6;">
            <i class="far fa-id-badge" style="font-size: 48px;"></i>
            <div class="ml-4 text-nowrap text-truncate">
              <h5>Address</h5>
              <span id="my-address">{{address}}</span>
            </div>
          </div>
          <div class="d-flex p-4 ml-3 rounded-lg info shadow-sm" style="color: #eee;background-color: #6c5ce7;">
            <i class="fas fa-wallet" style="font-size: 48px;"></i>
            <div class="ml-4">
              <h5>Balance</h5>
              <p><strong id="balance" style="font-size: larger;">{{balance}}</strong> Fox</p>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-12 rounded-lg bg-white p-0">
            <div class="card shadow-sm" style="border: none; border-left: 5px solid #8c7ae6;">
              <div class="card-header bg-white border-0 pt-3">
                <h4><strong style="color: #555">Send Transaction</strong></h4>
              </div>
              <div class="card-body">
                <div class="form-row mx-4 mb-2">
                  <div class="form-group col-md-4">
                    <label for="amount"><strong style="color: #555;">Amount</strong></label>
                    <input type="number" name="amount" class="form-control" id="amount" min="0" placeholder="Amount"
                      onchange="validateAmount('{{address}}', this.value)" aria-describedby="amountHelp">
                    <small id="amountHelp" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group col-md-8">
                    <label for="address"><strong style="color: #555;">Address</strong></label>
                    <input type="text" name="address" class="form-control" id="address" placeholder="Address"
                      aria-describedby="addressHelp" onchange="validateAddress('{{address}}', this.value)">
                    <small id="addressHelp" class="form-text text-muted"></small>
                  </div>
                  <button class="btn mt-1" onclick="sendTransaction('{{address}}', {{balance}})"
                    style="background-color: #6c5ce7; color: #eee">
                    <i class="fas fa-paper-plane" style="color : white"></i>&nbsp;
                    <strong>SEND</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-sm-12 rounded-lg bg-white p-0">
            <div class="card shadow-sm" style="border: none; border-left: 5px solid #8c7ae6;">
              <div class="card-header bg-white border-0 pt-3">
                <h4><strong style="color: #555;">Transaction pool</strong></h4>
              </div>
              <div class="card-body">
                <div class="mx-4 mb-2">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" class="col-5">Hash</th>
                        <th scope="col" class="col-5">Receiver</th>
                        <th scope="col" class="col-2">Amount (FXC)</th>
                      </tr>
                    </thead>
                    <tbody id="table-rows">
                      {{#each transactionPool}}
                      <tr>
                        <th scope="row">
                          <a class="custom-color transaction-id" href="#">{{this.id}}</a>
                        </th>
                        <td>{{this.receiver}}</td>
                        <td>{{this.amount}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  <button id="mine-button" class="btn mt-1 d-flex align-items-center" onclick="mineBlock('{{address}}')"
                    style="background-color: #6c5ce7; color: #eee">
                    <img src="images/hoe.png" alt="hoe.png">&nbsp;&nbsp;
                    <strong>MINE BLOCKS</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>

<script>
  const PORT = 3000;
  const P2P_PORT = 3001;

  const MessageType = {
    QUERY_LATEST: 0,
    QUERY_ALL: 1,
    RESPONSE_BLOCKCHAIN: 2,
    QUERY_TRANSACTION_POOL: 3,
    RESPONSE_TRANSACTION_POOL: 4
  }

  function setupWS() {
    const ws = new WebSocket(`ws://localhost:${P2P_PORT}`);
    ws.onopen = function () {
      console.log('Onopen');
    }
    ws.onmessage = function (event) {
      const message = JSON.parse(event.data);
      const data = JSON.parse(message.data);
      switch (message.type) {
        case MessageType.RESPONSE_BLOCKCHAIN:
          if (data.length === 1) {
            handleReceiveNewBlock(data[0]);
          }
          break;
        case MessageType.RESPONSE_TRANSACTION_POOL:
          let rows = '';
          for (const tx of data) {
            rows += `<tr>
                      <th scope="row"><a class="transaction-id custom-color" href="#">${tx.id}</a></th>
                      <td>${tx.txOuts[0].address}</td>
                      <td>${tx.txOuts[0].amount}</td>
                    </tr>`
          }
          $('#table-rows').html(rows);
          break;
        default:
          break;
      }
      console.log("Received message: " + event.data);
    }
  }
  setupWS();

  function getBalance(myAddress) {
    $.ajax({
      url: `http://localhost:${PORT}/api/wallet/${myAddress}`,
      type: 'GET'
    }).done(data => {
      console.log("Balance: " + data.balance);
      $('#balance').text(data.balance);
    });
  }

  function handleReceiveNewBlock(newBlock) {
    const minedTxs = newBlock.data;
    //update transaction pool
    updateTxPoolAfterMine(minedTxs);
    //update balance if receive coin
    const myAddress = $('#my-address').text();
    getBalance(myAddress);
  }

  function validateAddress(myAddress, address) {
    if (myAddress === address) {
      $('#addressHelp').text("We don't do that here");
      return false;
    } else {
      const ret = /[0-9a-f]{130}/.test(address);
      if (ret === false) {
        $('#addressHelp').text('Address is 130 characters long and is in hex format');
      } else {
        $('#addressHelp').text('');
      }
      return ret;
    }
  }

  function validateAmount(myAddress, amount) {
    if (amount && amount > 0) {
      $.ajax({
        url: `http://localhost:${PORT}/api/wallet/${myAddress}`,
        type: 'GET'
      }).done(data => {
        console.log(data);
        if (data.balance < amount) {
          $('#amountHelp').text("You're too poor to send money to others");
          return false;
        }
        $('#amountHelp').text("");
        return true;
      }).fail(error => {
        $('#amountHelp').text("Server error");
        return false;
      })
    } else {
      $('#amountHelp').text("Enter valid amount");
    }
  }

  function sendTransaction(myAddress, balance) {
    const receivedAddress = $('#address').val();
    const amount = parseInt($('#amount').val());

    if (validateAddress(myAddress, receivedAddress) && balance >= amount) {
      //send transaction
      const jsonToPost = JSON.stringify({
        myAddress: myAddress,
        receivedAddress: receivedAddress,
        amount: amount
      });
      $.ajax({
        url: `http://localhost:${PORT}/api/wallet/send`,
        type: 'POST',
        dataType: 'json',
        data: jsonToPost,
        contentType: 'application/json'
      }).done(data => {
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: "Your transaction has been sent",
          showConfirmButton: false,
          timer: 1500
        });
      }).fail(error => {
        console.log(error);
        Swal.fire({
          icon: 'error',
          title: "Oops.. Something went wrong",
          showConfirmButton: false,
          timer: 1500
        });
      })
    }
  }

  function bottomAlert(icon, text) {
    const Toast = Swal.mixin({
      toast: true,
      position: 'bottom-start',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: false,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
    Toast.fire({
      icon: icon,
      title: text
    })
  }

  function mineBlock(myAddress) {
    if ($('#table-rows').html().trim()) {
      $('#mine-button').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;<strong>Mining...</strong>')

      $.ajax({
        url: `http://localhost:${PORT}/api/blocks/mineBlock`,
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify({ myAddress: myAddress }),
        contentType: 'application/json'
      }).done(data => {
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: "Congratulation! You've mined a block and got 50 coin",
          showConfirmButton: false,
          timer: 1500
        });

        $('#balance').text(data.balance);
        $('#mine-button').html('<img src="images/hoe.png" alt="hoe.png">&nbsp;&nbsp;<strong>MINE BLOCKS</strong>');

        console.log("Update transaction pool after mined");
        updateTxPoolAfterMine(data.newBlock.data);
      }).fail(error => {
        console.log(error);
        $('#mine-button').html('<img src="images/hoe.png" alt="hoe.png">&nbsp;&nbsp;<strong>MINE BLOCKS</strong>');
        bottomAlert('warning', 'Transaction pool is empty')
      })
    } else {
      bottomAlert('warning', 'Transaction pool is empty')
    }
  }

  function updateTxPoolAfterMine(minedTransactions) {
    const minedTransactionIds = minedTransactions.map(trans => trans.id);
    const txPoolElements = document.getElementsByClassName('transaction-id');
    const removableElements = [];

    for (let i = 0; i < txPoolElements.length; i++) {
      if (minedTransactionIds.find(id => id === txPoolElements[i].innerHTML)) {
        removableElements.push(txPoolElements[i].parentNode.parentNode);
      }
    }
    removableElements.forEach(e => e.remove());
  }


</script>